<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Project Map</title>

    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.1.0/dist/maplibre-gl.css' />
    <script src='https://unpkg.com/maplibre-gl@4.1.0/dist/maplibre-gl.js'></script>
    <style>
        body { margin: 0; padding: 0; }
        html, body, #map { height: 100%; }
    </style>

</head>



<body>
    <!---------------------------- TABS STYLE ------------------------------------------->

    <style>
        .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        }

        /* Style the buttons that are used to open the tab content */
        .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
        background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
        background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        }
    </style>
    <!---------------------------- SIDE BAR STYLE --------------------------------------->
    <style>
        .rounded-rect {
            background: white;
            border-radius: 10px;
            box-shadow: 0 0 50px -25px black;
        }
    
        .flex-center {
            position: absolute;
            
            justify-content: center;
            align-items: center;
        }
    
        .flex-center.left {
            left: 0px;
        }
    
        .flex-center.right {
            right: 0px;
        }
    
        .sidebar-content {
            position: absolute;
            width: 95%;
            height: 95%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: gray;
        }
    
        .sidebar-toggle {
            position: absolute;
            width: 1.3em;
            height: 1.3em;
            overflow: visible;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .sidebar-toggle.left {
            right: -1.5em;
        }
        
        .sidebar-toggle:hover {
            color: #0aa1cf;
            cursor: pointer;
        }
    
        .sidebar {
            transition: transform 1s;
            z-index: 1;
            width: 300px;
            height: 100%;
        }
    
        /*
      The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
      The toggleSidebar() function removes this class from the element in order to expand it.
    */
        .left.collapsed {
            transform: translateX(-295px);
        }
    
        .right.collapsed {
            transform: translateX(295px);
        }
    </style>
    
    <!---------------------------------- Body Code ---------------------------------------->

    <script src="https://www.unpkg.com/turf@3.0.14/turf.min.js"></script>
    <script src="https://www.unpkg.com/@mapbox/mapbox-gl-draw@1.4.3/dist/mapbox-gl-draw.js"></script>
    <link
        rel="stylesheet"
        href="https://www.unpkg.com/@mapbox/mapbox-gl-draw@1.4.3/dist/mapbox-gl-draw.css"
        type="text/css"
    />


    


    <div id="map">
        <div id="left" class="sidebar flex-center left collapsed">
            
            <div class="sidebar-content rounded-rect flex-center">
                
                <div class="container tab">
                    <button class="tablinks" onclick="openCity(event, 'London')">A/Vol</button>
                    <button class="tablinks" onclick="openCity(event, 'Paris')">Ponto</button>
                    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Linha</button>
                    <button class="tablinks" type="submit" id="enviar">Reload</button>
                    


                    <div id="London" class="tabcontent">
                        <div class="container" >
                            <select name="type-polygon" id="type-polygon">
                                <option value="volume">Volume</option>
                                <option value="area" selected>Area</option>

                              </select>

                              <div id="volume-fields" style="display: none;">
                                <!-- Campos para Volume -->
                                <p>Vlemis</p><input type="text" id="em_vol">
                                <p>Relhgt</p><input type="text" id="rel_vol">
                                <p>Syiniti</p><input type="text" id="sy_vol">
                                <p>Sziniti</p><input type="text" id="sz_vol">
                                <p>z0</p><input type="text" id="z0_vol"><br>
                            </div>
                            
                            <div id="area-fields" style="display: none;">
                                <!-- Campos para Área -->
                                <p>Aremis</p><input type="text" id="alt_emi">
                                <p>Relhgt</p><input type="text" id="area_emi">
                                <p>z0</p><input type="text" id="alt_terro"><br>
                            </div>
                            
        
                        </div>
                      </div>


                      
                      <div id="Paris" class="tabcontent">
                        <div class="container" >
                            <p>Source</p><input type="text" id="font_point">
                            <p>Altitude</p><input type="text" id="alt_point">
                            <p>StackHeight</p><input type="text" id="stack_point">
                            <p>Temperature</p><input type="text" id="temp_point">
                            <p>Velocity</p><input type="text" id="vel_point">
                            <p>Diameter</p><input type="text" id="dm_point">
                            <p>Emission</p><input type="text" id="em_point"><br>
                            
                            
        
                        </div>
                      </div>


                      
                      <div id="Tokyo" class="tabcontent">
                        <div class="container" >
                            <p>Lnemis</p><input type="text" id="em_line">
                            <p>Relhgt</p><input type="text" id="alt_line">
                            <p>Width</p><input type="text" id="lar_line">
                            <p>Sziniti</p><input type="text" id="sz_line">
                            <p>z0</p><input type="text" id="z0_line"><br>
                            
                            
        
                        </div>
                      </div>
                      <button type="submit" id="postar">Salvar</button>
                      <button id='delete-button'>Excluir</button>

                      <div
                      class="sidebar-toggle rounded-rect left"
                      onclick="toggleSidebar('left')"
                  >
                      &rarr;
                </div>

                </div>
                
            </div>
            
        </div>
        
    </div>


    <script>

        // ----------------------- Inicio do Script ------------------------------------
        
        var polygonDelete = null
        var polygonInfo = null
        var polygonList = []
        var polygonVolume = []
        var polygonArea = []
        let polygonData = null
        var alt_emi = document.getElementById('alt_emi')
        var area_emi = document.getElementById('area_emi')
        var alt_terro = document.getElementById('alt_terro')

        var font_point = document.getElementById('font_point')
        var alt_point = document.getElementById('alt_point')
        var stack_point = document.getElementById('stack_point')
        var temp_point = document.getElementById('temp_point')
        var vel_point = document.getElementById('vel_point')
        var dm_point = document.getElementById('dm_point')
        var em_point = document.getElementById('em_point')

        var em_line = document.getElementById('em_line')
        var alt_line = document.getElementById('alt_line')
        var lar_line = document.getElementById('lar_line')
        var sz_line = document.getElementById('sz_line')
        var z0_line = document.getElementById('z0_line')
        
   

        MapboxDraw.constants.classes.CONTROL_BASE  = 'maplibregl-ctrl';
        MapboxDraw.constants.classes.CONTROL_PREFIX = 'maplibregl-ctrl-';
        MapboxDraw.constants.classes.CONTROL_GROUP = 'maplibregl-ctrl-group'

        // ------------------------ Select Options change -------------------------------

        
        document.getElementById('type-polygon').addEventListener('change', function() {
            var selectedOption = this.value;
            
            // Ocultar todos os campos
            document.getElementById('volume-fields').style.display = 'none';
            document.getElementById('area-fields').style.display = 'none';

            // Mostrar os campos relevantes com base na opção selecionada
            if (selectedOption === 'volume') {
                document.getElementById('volume-fields').style.display = 'block';
            } else if (selectedOption === 'area') {
                document.getElementById('area-fields').style.display = 'block';
            }
        });

        // ------------------------ Tab Javascript --------------------------------------

        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
            } 

        // ------------------------ Criação do Mapa -------------------------------------

        const map = new maplibregl.Map({
            container: 'map', // container id
            style:
                'https://api.maptiler.com/maps/hybrid/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL', //hosted style id

            zoom: 2 // starting zoom
        });


        // ----------------------- Criando Mapbox ------------------------------------

                var draw = new MapboxDraw({
            displayControlsDefault: false,
            controls: {
                polygon: true,
                point: true,
                line_string: true,
                trash: true
            }
        });
        map.addControl(draw);


        // --------------------------- Ao carregar -------------------------------------

        map.on('load', () => {
            toggleSidebar('left');
            

            map.addLayer({
                'id': 'map-layer',
                'type': 'fill',
                'source': {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': []
                    }
                },
                'paint': {
                    // Estilo da camada
                    'fill-color': '#ffffff',
                    'fill-opacity': 0.5
                }
            });




            fetch('/obter-item/')
                .then(response => response.json())
                .then(data => {

                    var features = JSON.parse(data)

                    polygonList = polygonList.concat(features)

                    console.log(polygonList)

                    var polygons_itens = polygonList.filter(
                        feature => feature.geometry.type === 'Polygon');
                       
                    var polygons_volume = polygons_itens.filter(
                        feature => feature.properties.type === 'volume');
                    console.log('Área:', polygons_volume);

                    var polygons_area = polygons_itens.filter(
                        feature => feature.properties.type === 'area');
                    console.log('Área:', polygons_area);

                    // Filtrar linhas
                    var lines = polygonList.filter(
                        feature => feature.geometry.type === 'LineString');
                    console.log('Linhas:', lines);

                    // Filtrar pontos
                    var points = polygonList.filter(
                        feature => feature.geometry.type === 'Point');
                    console.log('Pontos:', points);

                    

                    map.addSource('lines-maps', {
                        'type': 'geojson',
                        'data': {
                            'type': 'FeatureCollection',
                            'features': lines
                        },
                    },
                    )
                    map.addSource('points-maps', {
                        'type': 'geojson',
                        'data': {
                            'type': 'FeatureCollection',
                            'features': points
                        },
                    },
                    )
                    map.addSource('volume-maps', {
                        'type': 'geojson',
                        'data': {
                            'type': 'FeatureCollection',
                            'features': polygons_volume
                        },
                    },
                    )
                    map.addSource('area-maps', {
                        'type': 'geojson',
                        'data': {
                            'type': 'FeatureCollection',
                            'features': polygons_area
                        },
                    },
                    )
                    
                    map.addLayer({
                        'id': 'line-layer',
                        'type': 'line',
                        'source': 'lines-maps',
                        'layout': {},
                        'paint': {
                            'line-color': '#088 ',
                            'line-width': 4 ,
                            'line-opacity': 0.5
                        }

                    });

                    map.addLayer({
                        'id': 'point-layer',
                        'type': 'circle',
                        'source': 'points-maps',
                        'layout': {},
                        'paint': {
                            'circle-radius': 8, // Raio do círculo em pixels
                            'circle-color': '#ff0000', // Cor do círculo
                            'circle-opacity': 0.5
                        }

                    });
                                        
                    map.addLayer({
                        'id': 'area-layer',
                        'type': 'fill',
                        'source': 'area-maps',
                        'layout': {},
                        'paint': {
                            'fill-color': '#ff0 ',
                            'fill-opacity': 0.3
                        }

                    });

                    map.addLayer({
                        'id': 'volume-layer',
                        'type': 'fill',
                        'source': 'volume-maps',
                        'layout': {},
                        'paint': {
                            'fill-color': '#0000FF ',
                            'fill-opacity': 0.3 
                        }

                    });

                })
                .catch(error => {
                    console.error('Erro ao obter item:', error);
                });



        // ----------------------- Mostrar Info -------------------------------
        });


            map.on('click', 'line-layer', (e) => {

                polygonInfo = e.features[0]
                polygonDelete = e.features[0]

                    new maplibregl.Popup()
                        .setLngLat(e.lngLat)
                        .setHTML("<div class='container'>"+
                            "Lnemis: "+ polygonInfo.properties.Lnemis + "<br>" +
                            "Relhgt: "+ polygonInfo.properties.Relhgt + "<br>" + 
                            "Width: "+ polygonInfo.properties.Width + "<br>" +
                            "Sziniti: " + polygonInfo.properties.Sziniti + "<br>" +
                            "z0: " + polygonInfo.properties.z0 +"<div>")
                        .addTo(map);
                    console.log(polygonDelete)

                });

            map.on('click', 'point-layer', (e) => {

                polygonInfo = e.features[0]
                polygonDelete = e.features[0]

                    new maplibregl.Popup()
                        .setLngLat(e.lngLat)
                        .setHTML("<div class='container'>"+
                            "Source: "+ polygonInfo.properties.Source + "<br>" +
                            "Long: "+ polygonInfo.properties.Long + "<br>" + 
                            "Lat: "+ polygonInfo.properties.Lat + "<br>" +
                            "Altitude: " + polygonInfo.properties.Altitude + "<br>" +
                            "StackHeight: " + polygonInfo.properties.StackHeight + "<br>" +
                            "Temperature: " + polygonInfo.properties.Temperature + "<br>" +
                            "Velocity: " + polygonInfo.properties.Velocity + "<br>" +
                            "Diameter: " + polygonInfo.properties.Diameter + "<br>" +
                            "Emission: " + polygonInfo.properties.Emission +"<div>")
                        .addTo(map);
                    console.log(polygonInfo.properties)

                });    

            map.on('click', 'area-layer', (e) => {

                polygonInfo = e.features[0]
                polygonDelete = e.features[0]

                    new maplibregl.Popup()
                        .setLngLat(e.lngLat)
                        .setHTML("<div class='container'>"+
                            "Aremis: "+ polygonInfo.properties.Aremis + "<br>" +
                            "Relhgt: "+ polygonInfo.properties.Relhgt + "<br>" + 
                            "Width: "+ polygonInfo.properties.z0 +"<div>")
                        .addTo(map);
                    console.log(polygonInfo.properties)

                }); 
                
            map.on('click', 'volume-layer', (e) => {

                polygonInfo = e.features[0]
                polygonDelete = e.features[0]

                    new maplibregl.Popup()
                        .setLngLat(e.lngLat)
                        .setHTML("<div class='container'>"+
                            "Lnemis: "+ polygonInfo.properties.Vlemis + "<br>" +
                            "Relhgt: "+ polygonInfo.properties.Relhgt + "<br>" + 
                            "Width: "+ polygonInfo.properties.Syiniti + "<br>" +
                            "Sziniti: " + polygonInfo.properties.Sziniti + "<br>" +
                            "Long: " + polygonInfo.properties.Long + "<br>" +
                            "Lat: " + polygonInfo.properties.Lat + "<br>" +
                            "z0: " + polygonInfo.properties.z0 +"<div>")
                        .addTo(map);
                    console.log(polygonInfo.properties)

                });


        // ----------------------- Recarregar Polygons ------------------------------

        document.getElementById('enviar').addEventListener('click', function(event) {
            event.preventDefault(); // Evita o envio do formulário
            fetch('/obter-item/')
                .then(response => response.json())
                .then(data => {

                    var features = JSON.parse(data);

                    polygonList = [];
                    polygonList = polygonList.concat(features);
                    console.log(polygonList);

                    var polygons_itens = polygonList.filter(
                        feature => feature.geometry.type === 'Polygon');
                       
                    var polygons_volume = polygons_itens.filter(
                        feature => feature.properties.type === 'volume');
                    console.log('Área:', polygons_volume);

                    var polygons_area = polygons_itens.filter(
                        feature => feature.properties.type === 'area');
                    console.log('Área:', polygons_area);

                    // Filtrar linhas
                    var lines = polygonList.filter(
                        feature => feature.geometry.type === 'LineString');
                    console.log('Linhas:', lines);

                    // Filtrar pontos
                    var points = polygonList.filter(
                        feature => feature.geometry.type === 'Point');
                    console.log('Pontos:', points);

                    map.getSource('lines-maps').setData({
                        'type': 'FeatureCollection',
                        'features': lines
                    });
                    map.getSource('points-maps').setData({
                        'type': 'FeatureCollection',
                        'features': points
                    });
                    map.getSource('volume-maps').setData({
                        'type': 'FeatureCollection',
                        'features': polygons_volume
                    });
                    map.getSource('area-maps').setData({
                        'type': 'FeatureCollection',
                        'features': polygons_area
                    });

                })
                .catch(error => {
                    console.error('Erro ao obter item:', error);
                });
        });

        // ----------------------- CALCULO DO MEIO DO POLYGON --------------------------

        function calcularCentroPoligono(coordinates) {
            let sumX = 0;
            let sumY = 0;
            for (let i = 0; i < coordinates.length; i++) {
                sumX += coordinates[i][0];
                sumY += coordinates[i][1];
            }
            const centerX = sumX / coordinates.length;
            const centerY = sumY / coordinates.length;
            return [centerX, centerY];
        }


        // ----------------------- Criando a area -------------------------------------


        map.on('draw.create', function(e) {

        // --------------------------- POLYGON CREATE ----------------------------------    


            if (e.features[0].geometry.type == "Polygon"){

                var data = e.features[0]
                

                        
                    var selectedOption = document.getElementById('type-polygon').value;
                    if (selectedOption === 'volume') {

                        const coordinates = e.features[0].geometry.coordinates[0];
                        const centroPoligono = calcularCentroPoligono(coordinates);
                        const longitude = centroPoligono[0];
                        const latitude = centroPoligono[1];
                        

                        data.properties['id'] = e.features[0].id
                        data.properties['type'] = 'volume';
                        data.properties['Vlemis'] = em_vol.value;
                        data.properties['Relhgt'] = rel_vol.value;
                        data.properties['Syiniti'] = sy_vol.value;
                        data.properties['Sziniti'] = sz_vol.value;
                        data.properties['Long'] = longitude
                        data.properties['Lat'] = latitude
                        data.properties['z0'] = z0_vol.value;
                        polygonVolume.push(e.features[0].id)
                        
                        

                    } else if (selectedOption === 'area') {

                        data.properties['id'] = e.features[0].id
                        data.properties['type'] = 'area';
                        data.properties['Aremis'] = alt_emi.value;
                        data.properties['Relhgt'] = area_emi.value;
                        data.properties['z0'] = alt_terro.value;
                        polygonArea.push(e.features[0].id)
                    

                    }
                

                polygonData = data
                console.log(e.features[0])

                map.addSource(e.features[0].id, {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': [
                        data
                    ]
                    }
                })
            }
        // --------------------------- POINT CREATE ----------------------------------    
            
            else if (e.features[0].geometry.type == "Point"){
                
                var data = e.features[0]
                var coords = e.features[0].geometry
                var lng = coords.coordinates[0]
                var lat = coords.coordinates[1]
                console.log(e.features[0])

                data.properties['id'] = e.features[0].id
                data.properties['Source'] = font_point.value;
                data.properties['Long'] = lng;
                data.properties['Lat'] = lat;
                data.properties['Altitude'] = alt_point.value;
                data.properties['StackHeight'] = stack_point.value;
                data.properties['Temperature'] = temp_point.value;
                data.properties['Velocity'] = vel_point.value;
                data.properties['Diameter'] = dm_point.value;
                data.properties['Emission'] = em_point.value;


                polygonData = data
                

                map.addSource(e.features[0].id, {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': [
                        data
                    ]
                    }
                })

            }
        // --------------------------- LINE CREATE ----------------------------------

            else if (e.features[0].geometry.type == "LineString"){

                var data = e.features[0]

                data.properties['id'] = e.features[0].id
                data.properties['Lnemis'] = em_line.value;
                data.properties['Relhgt'] = alt_line.value;
                data.properties['Width'] = lar_line.value;
                data.properties['Sziniti'] = sz_line.value;
                data.properties['z0'] = z0_line.value;
                console.log(e.features[0])

                polygonData = data
                

                map.addSource(e.features[0].id, {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': [
                        data
                    ]
                    }
                })
            }
            


        });
    
        // ------------------------ MAP UPDATE ----------------------------------------------

        map.on('draw.update', function(e) {

            
            if (e.features[0].geometry.type == "Polygon"){

                    var data = e.features[0]
                    
                        
                
                if (polygonVolume == e.features[0].id) {

                    const coordinates = e.features[0].geometry.coordinates[0];
                    const centroPoligono = calcularCentroPoligono(coordinates);
                    const longitude = centroPoligono[0];
                    const latitude = centroPoligono[1];

                    data.properties['id'] = e.features[0].id
                    data.properties['type'] = 'volume';
                    data.properties['Vlemis'] = em_vol.value;
                    data.properties['Relhgt'] = rel_vol.value;
                    data.properties['Syiniti'] = sy_vol.value;
                    data.properties['Sziniti'] = sz_vol.value;
                    data.properties['Long'] = longitude;
                    data.properties['Lat'] = latitude;
                    data.properties['z0'] = z0_vol.value;
                    console.log("volume")
                    console.log(data)

                } else if (polygonArea == e.features[0].id) {

                    data.properties['id'] = e.features[0].id
                    data.properties['type'] = 'area';
                    data.properties['Aremis'] = alt_emi.value;
                    data.properties['Relhgt'] = area_emi.value;
                    data.properties['z0'] = alt_terro.value;
                    console.log("area")
                    console.log(data)
                }
            
                // --------------------------- POINT UPDATE ----------------------------------    

                else if (e.features[0].geometry.type == "Point"){

                    var data = e.features[0]
                    var coords = e.features[0].geometry
                    var lng = coords.coordinates[0]
                    var lat = coords.coordinates[1]
                    

                    data.properties['id'] = e.features[0].id
                    data.properties['Source'] = font_point.value;
                    data.properties['Long'] = lng;
                    data.properties['Lat'] = lat;
                    data.properties['Altitude'] = alt_point.value;
                    data.properties['StackHeight'] = stack_point.value;
                    data.properties['Temperature'] = temp_point.value;
                    data.properties['Velocity'] = vel_point.value;
                    data.properties['Diameter'] = dm_point.value;
                    data.properties['Emission'] = em_point.value;
                    console.log(data)
                }
                // --------------------------- LINE UPDATE ----------------------------------

                else if (e.features[0].geometry.type == "LineString"){

                var data = e.features[0]

                data.properties['id'] = e.features[0].id
                data.properties['Lnemis'] = em_line.value;
                data.properties['Relhgt'] = alt_line.value;
                data.properties['Width'] = lar_line.value;
                data.properties['Sziniti'] = sz_line.value;
                data.properties['z0'] = z0_line.value;
                console.log(data)

                polygonData = data
                

                } 

                map.setPaintProperty('map-layer', 'fill-color', {
                        type: 'identity',
                        property: 'name'
                })

            }   

        });

        // ------------------------ ON CLICK FEATURES -------------------------------------


        map.on('draw.selectionchange', function(e){
            var data = e.features[0]
            
            if (e.features[0] != undefined){
            

                if (e.features[0].geometry.type == "Polygon"){
                    
                    var data = e.features[0]

                    if (polygonVolume == e.features[0].id) {

                        const coordinates = e.features[0].geometry.coordinates[0];
                        const centroPoligono = calcularCentroPoligono(coordinates);
                        const longitude = centroPoligono[0];
                        const latitude = centroPoligono[1];
                        
                        data.properties['id'] = e.features[0].id
                        data.properties['type'] = 'volume';
                        data.properties['Vlemis'] = em_vol.value;
                        data.properties['Relhgt'] = rel_vol.value;
                        data.properties['Syiniti'] = sy_vol.value;
                        data.properties['Sziniti'] = sz_vol.value;
                        data.properties['Long'] = longitude
                        data.properties['Lat'] = latitude
                        data.properties['z0'] = z0_vol.value;
                        console.log("volume")

                        

                    } else if (polygonArea == e.features[0].id) {

                        data.properties['id'] = e.features[0].id
                        data.properties['type'] = 'area';
                        data.properties['Aremis'] = alt_emi.value;
                        data.properties['Relhgt'] = area_emi.value;
                        data.properties['z0'] = alt_terro.value;
                        console.log("area")
                        

                    }

                polygonData = data
                }

                else if (e.features[0].geometry.type == "Point"){
                
                var data = e.features[0]
                var coords = e.features[0].geometry
                var lng = coords.coordinates[0]
                var lat = coords.coordinates[1]
                

                data.properties['id'] = e.features[0].id
                data.properties['Source'] = font_point.value;
                data.properties['Long'] = lng;
                data.properties['Lat'] = lat;
                data.properties['Altitude'] = alt_point.value;
                data.properties['StackHeight'] = stack_point.value;
                data.properties['Temperature'] = temp_point.value;
                data.properties['Velocity'] = vel_point.value;
                data.properties['Diameter'] = dm_point.value;
                data.properties['Emission'] = em_point.value;


                polygonData = data
                }
                else if (e.features[0].geometry.type == "LineString"){

                var data = e.features[0]

                data.properties['id'] = e.features[0].id
                data.properties['Lnemis'] = em_line.value;
                data.properties['Relhgt'] = alt_line.value;
                data.properties['Width'] = lar_line.value;
                data.properties['Sziniti'] = sz_line.value;
                data.properties['z0'] = z0_line.value;
                console.log(e.features[0])

                polygonData = data
                }
            }
            
        })



        var botaoEnviar = document.getElementById('postar');

        // Adiciona um ouvinte de evento para o clique no botão de envio
        botaoEnviar.addEventListener('click', function(event) {
            // Evita que o formulário seja enviado normalmente
            event.preventDefault();


    // ----------------------- AJAX ---------------------------------------

               console.log(polygonData)
            
            fetch('http://127.0.0.1:8000/save_point/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(polygonData)
            }).then(async function(response) {
                if (await response.ok) {
                    console.log('Ponto salvo com sucesso!');
                
                    console.log(response);
                    return response.json()
                } else {
                    console.error('Erro ao salvar ponto!');
                }
            }).catch(error => {
                console.error('Erro ao enviar requisição:', error)
            })

            console.log('Botão de envio clicado!')
        });
        
        //------------------------- EXCLUIR POLYGON ---------------------------------------

        const deleteButton = document.getElementById('delete-button');
            console.log(polygonDelete)
        deleteButton.addEventListener('click', function() {
            var polygonId = polygonDelete.properties.id;

            fetch(`/delete-polygon/`, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
                },
                body:JSON.stringify(polygonId)
            })
            .then(response => {
                if (response.ok) {
                    console.log('Polígono excluído com sucesso.');
                } else {
                    console.error('Falha ao excluir polígono:', response.status);
                }
            })
            .catch(error => {
                console.error('Erro ao excluir polígono:', error);
            });
        });

        // ------------------------ Função da SIDE BAR ------------------------------------

        function toggleSidebar(id) {
        const elem = document.getElementById(id);
        const classes = elem.className.split(' ');
        const collapsed = classes.indexOf('collapsed') !== -1;

        const padding = {};

        if (collapsed) {
            // Remove the 'collapsed' class from the class list of the element, this sets it back to the expanded state.
            classes.splice(classes.indexOf('collapsed'), 1);

            padding[id] = 300; // In px, matches the width of the sidebars set in .sidebar CSS class
            map.easeTo({
                padding,
                duration: 1000 // In ms, CSS transition duration property for the sidebar matches this value
            });
        } else {
            padding[id] = 0;
            // Add the 'collapsed' class to the class list of the element
            classes.push('collapsed');

            map.easeTo({
                padding,
                duration: 1000
            });
        }

        // Update the class list on the element
            elem.className = classes.join(' ');
        }
        

    </script>

    
</body>
</html>